public_html(client)/.htaccess
public_html(client)/config.php
public_html(client)/instalador/config.json

public_html(client)/assets/firmas/*
public_html(client)/assets/pdf/*.pdf
public_html(client)/assets/presupuestos/*
public_html(client)/assets/banners/*
public_html(client)/assets/logos/*
public_html(client)/cotizador2/admin/archivos/*